<footer class="footer">
  <div class="social-icons">
    <a href="https://github.com/gangadhar-chavvakula" target="_blank" title="GitHub" class="social-icon">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/gangadhar-chavvakula" target="_blank" title="LinkedIn" class="social-icon">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/gangadhar_ch" target="_blank" title="Twitter" class="social-icon">
      <i class="fab fa-twitter"></i>
    </a>
  </div>

  <p class="copyright">
    © 2025 Gangadhar Chavvakula. All rights reserved.
  </p>
</footer>
