<div class="gallery-container">
    <div class="gallery-grid">
      <img src="assets/gallery_img/img1.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img2.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img3.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img4.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img5.jpg" alt="Gallery Image">
  
      <img src="assets/gallery_img/img6.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img7.jpg" alt="Gallery Image">
      <div class="text-box">
        Every Story is Unique,<br />and We Capture It Like No Other
      </div>
      <img src="assets/gallery_img/img8.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img9.jpg" alt="Gallery Image">
  
      <img src="assets/gallery_img/img10.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img11.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img12.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img13.jpg" alt="Gallery Image">
      <img src="assets/gallery_img/img14.jpg" alt="Gallery Image">
    </div>
  </div>
  
  <!-- Portfolio Link -->
  <div class="portfolio-link">
    <a routerLink="/portfolio">View Full Portfolio →</a>
  </div>
  
  <div class="curved-video-wrapper">
    <div class="curved-video-content">
      <video autoplay muted loop class="wedding-video" playsinline>
        <source src="assets/gallery_img/img_video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="video-text-overlay">
        <h2>More Than a Memory – A Motion Picture of Emotions</h2>
        <p>Experience your wedding as a timeless film</p>
      </div>
    </div>
  </div>
  
  